<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pophory"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="io.sentry.dsn"
            android:value="${sentryDsn}" />
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="true" />
        <meta-data
            android:name="io.sentry.attach-view-hierarchy"
            android:value="true" />
        <meta-data
            android:name="io.sentry.breadcrumbs.user-interaction"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.teampophory.pophory.config.initializer.KakaoSDKInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.teampophory.pophory.config.initializer.AdInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.teampophory.pophory.config.initializer.CrashlyticsInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.teampophory.pophory.config.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".feature.sample.AdmobSampleActivity"
            android:exported="true" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="kakao${kakaoApiKey}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.album.AlbumListActivity"
            android:exported="false" />
    </application>
</manifest>